body {
	margin: 0;
	padding: 0;
	width: auto;
}

nav {
	height: 54px;
	box-shadow: 0 3px 5px 0 rgba(0,0,0,0.20);
	font-family: "Time new Roman";
	font-size: 15px;
	letter-spacing: 4px;
	position: fixed;
	width: 100%;
	z-index: 1;
	background-color: #FFF;
}

.left-link {
	float: left;
	margin: 8px 32px;
	padding-top: 10px;
}

nav > .link:first-child:hover {
	margin-left: 23px;
	background-color: #CCC;
	height: 30px;
	width: 220px;
	text-align: center;
}

.nav-link{
	height: 30px;
	padding-top: 10px;
	margin-left: 32px;
}

ul > .link:hover {
	background-color: #CCC;
	height: 30px;
	text-align: center;
}

.right-link {
	display: flex;
	justify-content: flex-end;
	align-content: flex-end;
	list-style-type: none;
	margin-top: 8px;
	margin-right: 32px;
}

.left-link:link {
	color: #000;
	text-decoration: none;
}

.left-link:visited {
	color: #000;
	text-decoration: none;
}

.nav-link > a:link, a:visited{
	color: #000;
	text-decoration: none;	
}

header {
	position: relative;
	max-width: 1600px;
}

.display-bottom-left {
	position: absolute;
	bottom: 0;
	left: 0;
}

.opacity {
	opacity: 0.6;
}

.background {
	width: 100%;
}

.wide-text {
	letter-spacing: 5px;
}

.margin-22 {
	margin-right: 22px;
	margin-left: 24px;
}

.padding-large {
	padding-left: 24px;
	padding-bottom: 8px;
}

.padding {
	padding-left: 24px;
	padding-bottom: 18px;
}

h1, h2 {
	font-size: 36px;
}

h1, h2, h3, h4 { 
	font-family: "Playfair Display";
	font-weight: 400;
}

h2  {
	letter-spacing: 5px;
}

.margin {
	margin: 35px 0 26px 19px;
}

.display-top-center {
	position: absolute;
	left: 153px;
	top: -6px;
}

.display-center {
	position: absolute;
	top: 99px;
	left: 175px;
	font-size: 18px;
}

h4 {
	font-size: 20px;
	margin-left: 24px;
}

hr {
	opacity: 0.2;
	width: 72%;
}

.padding-64 {
	padding: 64px 0;
}

.display-column {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.heading {
	position: relative;
	width: 100%
}

.position {
	display: flex;
	flex-direction: column;
	margin-top: 180px;
}

.display-bottom-center {
	position: absolute;
	bottom: 175px;
	left: 23px;
}

.text-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wide {
	width: 1100px;
}

.img {
	width: 502px;
	height: 628px;
	border-radius: 4px;
}

.img-opacity {
	opacity: 0.75;
}

.image {
	padding-top: 8px;
	float: left;
	height: auto;
}

.large-font {
	font-family: "Time new Roman";
	font-size: 18px;
	line-height: 27px;
}

.margin-25 {
	margin-left: 25px;
}

section {
	display: flex;
	margin: auto;
	justify-content: space-around;
	width: 1148px;
	margin-bottom: 11px;
}

.text-grey {
	color: #757575;
}

.text-blue-bold {
	color: #607D8B;
	font-weight: bold;
}

.input {
	width: 500px;
	height: 20px;
	border: none;
	border-bottom: 1px solid #CCC;
}

.padding-16 {
	padding: 22px 10px;
}

form {
	display: flex;
	flex-direction: column;
}

button {
	background-color: #F1F1F1;
	text-transform: uppercase;
	border: none;
	width: 150px;
	height: 38px;
	font-family: "Time new Roman";
	font-size: 14px;
}

button:hover {
	background-color: #CCC;
	cursor: pointer;
}

.margin-30 {
	margin-top: 30px;
}


footer {
	background-color: #F1F1F1;
  	display: flex;
  	justify-content: center;
  	height: 117px;
  	align-items: center;
  	font-size: 15px;
}	

.margin-top {
	margin-bottom: 97px;
}

.wide-section {
	width: 1060px;
	margin: auto;
}

mark {
	padding: 0 10px;
	background-color: #F1F1F1;
	width: 60px;
}


@media all and (max-width: 1500px) {

	.position {
		position: absolute;
		left: 23px;
		top: 140px;
		width: 500px;
	}

	.display-bottom-center {
		position: absolute;
		bottom: 145px;
		left: 23px;
		width: 500px;
	}

	.position {
		margin: 40px 7px 26px 54px;
	}

	.margin-22 {
		margin-right: 49px;
		margin-top: 14px;

	}

	.wide-section {
		width: 1067px;
		margin: auto;
	}

	.flex {
		margin-top: 24px;
		line-height: 23px;
		font-size: 15px;
	}



}

@media all and (min-width: 100px) and (max-width: 600px) {

	.right-link {
		display: none;
	}

	header {
		display: flex;
		flex-direction: column;
	}

	section {
		display: flex;
		margin: 200px 0;
	}

	.img {
		display: none;
	}

	.margin-25 {
		margin: 0;
	}

	.padding-64 {
		display: flex;
		flex-direction: column;
	}

	main > .padding-large {
		padding: 0;
	}

	.text-center {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.heading {
		display: flex;
		flex-direction: column;
		margin: 0;
	}


	mark {
		width: 60px;
	}
}
